/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Lato|Ubunto|Roboto+Slab');

/* RESETS AND CUSTOM STYLES TO BOOTSTRAP */
html { scroll-behavior: smooth; }
body{
    font-family: Ubuntu;
    background-image: url('../imgs/background-img.png');
    font-size: 20px;
}
.btn{
    font-size: 20px;
}
.img-responsive{
    width: 100%;
}

/* Navigation */
.navbar-brand{
    color: #f4f4f4;
    font-weight: bold;
}
#login{
    margin-right: 10px;
}

/* Game controls */
.game{
    margin-top: 20vh;
    position: relative;
    height: 55vh;
}

.game-btn, .controls{
    position: absolute;
}

.game-btn{
    width: 45%;
    height: 25vh;
    border-radius: 0;
}

#btn-green{
    top: 0;
    left: 0;
    border-top-left-radius: 100%;
}

#btn-red{
    top: 0;
    right: 0;
    border-top-right-radius: 100%;
}

#btn-yellow{
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 100%;
}

#btn-blue{
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 100%;
}

.controls{
    background-color: #212529;
    color: #f4f4f4;
    width: 50%;
    top: 12vh;
    left: 25%;
    text-align: center;
    padding: 30px;
    border-radius: 100%;
    font-family: Ubuntu;
}

.controls p{
    margin: 10px 0 0 0;
}

#start-game-btn{
    border-radius: 100%;
    padding: 20px;
    background-color: #2ecc71;
    border: 1px solid #27a85d;
    text-shadow: 2px 2px 5px #000;
}

/* Strict mode btn */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
#best{ 
    color: #17a2b8; 
    font-weight: bold;
    font-size: 25px;
}